<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style/app.css">
    <script src="https://kit.fontawesome.com/0d5e436283.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="topButtonLayout">
        <button id="btn_close" class="btn btn_close"><i class="fas fa-times"></i></button>
    </div>
    <div class="topLayout"><p style="position:absolute; color:white; font-weight:bold; top:-5px; left: 10px;">SLPMods v1.0</p></div>
    <button class="btn btn_back" onclick="window.location.replace('app.html');"><i class="fas fa-caret-square-left"></i> Zurück</button>
    <div style="margin-left: 20px; margin-right: 20px; margin-top: 55px;">
        <p style="color:white;">E-Mail:</p>
        <input class="input input_email" type="email" id="email" name="email" value="" placeholder="">
        <p style="color:white;">Password:</p>
        <input class="input input_email" type="password" id="password" name="password" value="" placeholder="">
        <br>
        <br>
        <div style="background-color: rgba(150, 150, 150, 0.466); padding: 10px 10px 10px 10px; border-radius: 10px;">
            <p style="color: white;">Um mehr als <strong>1,5 GB Ram</strong> zuweisen zu können, muss <strong style="text-decoration: underline; color: grey;"><a style="text-decoration: underline; color: grey;" href="https://javadl.oracle.com/webapps/download/AutoDL?BundleId=240728_5b13a193868b4bf28bcb45c792fce896" target="_blank" onclick="alert('Java 8 64Bit wird runtergeladen!')">Java 64bit</a></strong> Installiert sein</p>
            <p style="color:white;">Min Ram (MB):</p>
            <input class="input input_email" type="number" id="min-ram" name="password" value="" placeholder="">
            <p style="color:white;">Max Ram (MB):</p>
            <input class="input input_email" type="number" id="max-ram" name="password" value="" placeholder="">
        </div>
        <p style="color:white;">Auto Patch Einstellung:</p>
        <select class="input" id="patcher">  
            <option value="true">Aktiv (Lädt Updates Automatisch runter).</option>  
            <option value="false">Inaktiv (Fragt vor Installation nach).</option>  
        </select> 
        <p style="color:white;">Konsolen Einstellung:</p>
        <select class="input" id="console">  
            <option value="true">Wird beim starten angezeigt.</option>  
            <option value="false">Wird nicht angezeigt.</option>  
        </select> 
        <br><br>
        <button class="btn btn_store" id="submit" type="submit"><i class="far fa-save"></i> Speichern</button>
    </div>
    <script> require('../js/button.js'); </script>
    <script> require('../js/settings.js'); </script>
</body>
</html>